<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531236727453-08lqunrnv83obq14omnsd1p1rhlq6ddj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531236727453-08lqunrnv83obq14omnsd1p1rhlq6ddj</string>
	<key>API_KEY</key>
	<string>AIzaSyDV0mPC6K89iADYWtE9PU0Inf0qyAfNYas</string>
	<key>GCM_SENDER_ID</key>
	<string>531236727453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.crokett</string>
	<key>PROJECT_ID</key>
	<string>crokett-9f9d8</string>
	<key>STORAGE_BUCKET</key>
	<string>crokett-9f9d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531236727453:ios:a6c72af09aeba1d59f4274</string>
</dict>
</plist>